<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<form action="http://127.0.0.1:5000/">
    <p><b>Hello, select report type you want and time gap:</b></p>
    <label>Report № </label>
    <select name="report">
        <option value="1">1</option>
        <option value="2">2</option>
    </select >
    <br><br>
    <label >time gap begin</label>
    <input name="date_begin" value="10 mar 1999 00:00:00">
    <br><br>
    <label >time gap end</label>
    <input name="date_end" value="10 mar 1999 00:00:00">
    <p><input type="submit"></p>
</form>

</body>
</html>